body {
  margin: 0;
  background-color: #333333;
}

.container {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  gap: 20px;
  position: relative;
}

.large-area {
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  color: #aaaaaa;
  background: #444444;
  border: none;
  border-radius: 10px;
  outline: none;
  resize: none;
  font-family: monospace;
  transition: background 0.25s, color 0.25s;
}

.large-area:hover,
.large-area:focus {
  background: #4a4a4a;
  color: #eeeeee;
}

.controls__button {
   width: 100%;
    padding: 10px;
    border-radius: 5px;
    background: #444444;
    color: #eeeeee;
    border: 1px solid #666666;
    outline: none;
    transition: border-color 0.3s;
}

.controls__button--central {
  position: fixed;
  padding: 8px 14px;
  top: 30px; /* Ajuste conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
}

.controls__button--github {
  position: fixed;
  padding: 8px 14px;
  bottom: 20px; /* Ajuste conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
}

.large-area--input {
  height: 99%;
  display: flex;
  width: 100%;
}

.large-area--output-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.large-area--output {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  padding: 20px;
  box-sizing: border-box;
  color: #aaaaaa;
  background: #444444;
  border: none;
  border-radius: 10px;
  outline: none;
  resize: none;
  font-family: monospace;
}

.large-area--output.expanded {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #444444;
}

.toggle-expand-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10000;
  background-color: #00957700;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 14px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}
label {
  color: #eeeeee;
  font-family: monospace;
  font-size: 0.9rem;
  margin-bottom: 5px;
  display: block;
}

.controls__button:hover {
    border-color: #009578;
}



.inputs {
  height: 100%;
  width: 100%;
}
/* Ajuste específico para as sections do caso apresentado */
section.converter-section {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espaçamento interno entre os elementos da section */
  padding: 20px; /* Espaçamento interno adicional */
  background-color: #3a3a3a; /* Cor de fundo para destaque */
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
}
